/* Base CSS stylesheet for every page on the site (page specific css sheets should override) */

/* Text elements */
h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-weight: 900;
}

p {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
}
